@charset "UTF-8";
/**
* Foundation
* ========================== */
/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Utility ------------ */
/** 色の変数 ------------ **/
/* 背景色(ベタ塗り) */
/* header */
/* sidebar */
/* container */
/*検索BOXボタンの*/
/* マスク色 */
/* map */
/* map */
/* map */
/* 文字色 ・　下線（border）色*/
/* logo・Menu */
/* ダミーサイト*/
/* ブランチメニュー*/
/* Take-out Eat-in(大タイトル)*/
/* Take-out Eat-in(BOXの内側)*/
/* アイテム色*/
/* container */
/* フォントファミリー　*/
/*Hamburger・MENU(ロゴ)・Take-out Eat-in(大タイトル)*/
/* 上記以外の文字 */
/* フォントオーサム */
/* Base */
html {
  text-decoration: none;
  /*リテキストの装飾を行わない*/
  box-sizing: border-box;
  /*padding・borderを含めてサイズを指定する*/
  list-style: none;
  /*リストの装飾は表示しない*/
}

body {
  min-width: 375px;
  min-height: 100vh;
  /*ブラウザの高さいっぱいに要素を広げる*/
  max-width: 100%;
  /*最大幅*/
  font-family: "M PLUS 1p", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  /*横にはみ出したら隠す*/
}

img, background {
  max-width: 100%;
  /*最大幅*/
}

ul, li {
  list-style: none;
  /*リストの装飾をしない*/
  text-decoration: none;
  /*文字の装飾をしない*/
}

/**
* Layout
* ========================== */
/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 150px;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px) {
  .l-body {
    display: grid;
    grid-template-columns: auto 19.11% !important;
    grid-template-rows: auto 1fr 150px !important;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-main {
  grid-column: 1/-1;
  grid-row: 2/-2;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px) {
  .l-main {
    grid-column: 1/-2;
    grid-row: 2/-2;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-header {
  /*Grid*/
  grid-column: 1/-1;
  grid-row: 1;
  /*その他*/
  position: relative;
  max-width: 100%;
}

/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px) {
  .l-header {
    /*Grid*/
    grid-column: 1/-2;
    grid-row: 1;
    /*その他*/
    max-width: 100%;
  }
}
/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-footer {
  position: relative;
  grid-column: 1/-1;
  grid-row: 3/-1;
  z-index: 130;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px) {
  .l-footer {
    position: relative;
    grid-column: 1/-1;
    grid-row: 3/-1;
    bottom: 0;
    left: 0;
    z-index: 130;
    max-width: 100%;
    min-width: 67%;
    overflow: hidden;
  }
}
/* スマートフォン */
.l-sidebar {
  grid-template-columns: none;
  grid-template-rows: none;
  position: fixed;
  /*scrollさせる*/
  z-index: 200;
  top: 0;
  right: -250vw;
  /*何もしていない時は右側に隠す*/
  width: 87.46%;
  height: 100vh;
  overflow-y: scroll;
}

.l-sidebar.show {
  /*クラスshowがついたら*/
  top: 0;
  /*位置を0に*/
  right: 0;
}

@media screen and (min-width: 600px) {
  .l-sidebar.show {
    /*sidebarが現れた時*/
    max-width: 44%;
    top: 0;
    /*位置を0に*/
    right: 0;
  }
}
@media screen and (min-width: 1250px) {
  .l-sidebar {
    grid-column: 2/-1;
    /*隠さず一番右端に表示*/
    grid-row: 1/-2;
    position: relative;
    top: 0 !important;
    right: 0 !important;
    width: 100%;
    height: 100%;
    /*ないと高さが切れる*/
    overflow: hidden;
  }
}
/* Object
* ========================== */
.p-header {
  height: 217px;
  padding-top: 40px;
  /*paddingで画面縮小しても高さが潰れないように*/
  padding-bottom: 40px;
  /*paddingで画面縮小しても高さが潰れないように*/
  background-color: #FFF7EF;
  box-sizing: border-box;
  overflow: hidden;
}
.p-header__wrapper {
  display: flex;
  flex-direction: column;
  /*Hamburgerと検索BOXを縦並びに*/
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: 1250px) {
  .p-header {
    height: 217px;
    padding-top: 68px;
    /*paddingで画面縮小しても高さが潰れないように*/
    padding-bottom: 68px;
    /*paddingで画面縮小しても高さが潰れないように*/
  }
  .p-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }
}
.p-search-form {
  position: relative;
  width: 85.33%;
  min-height: 46px;
  margin-top: 0;
  box-sizing: border-box;
}
.p-search-form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 72.52%;
  height: 46px;
  padding: 10px;
  border: solid #707070 1px;
  font-family: FontAwesome;
  font-weight: lighter;
  border-radius: 10px;
  box-sizing: border-box;
}
.p-search-form__button {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 24.95%;
  height: 46px;
  margin-left: 13px;
  /*inputとの余白*/
  padding: 12px 8%;
  /*px以外は崩れる*/
  background-color: #F2EDE9;
  border: solid #707070 1px;
  border-radius: 10px;
  color: #707070 !important;
  font-weight: bold;
  box-sizing: border-box;
}
.p-search-form__label {
  /*button内の” 検索 ”*/
  display: inline-block;
  position: absolute;
  top: 50%;
  /*真ん中に配置*/
  left: 50%;
  transform: translate(-50%, -50%);
  /*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.43;
  color: #707070;
  border-radius: 10px;
  box-sizing: border-box;
}

.p-search-form__icon {
  /*虫眼鏡アイコン*/
  display: block;
  position: absolute;
  top: 50%;
  /*真ん中に配置*/
  left: 5%;
  transform: translate(-50%, -50%);
  /*真ん中に配置*/
  -webkit-transform: translate(5%, -50%);
  -ms-transform: translate(-50%, -50%);
  max-width: 6% !important;
  height: auto;
  font-size: 6.4vw;
}
.p-search-form__icon.active {
  display: none;
  /*アクティブになったら消える */
}

@media screen and (min-width: 600px) {
  .p-search-form {
    max-width: 65.46% !important;
    /* 広がり過ぎないように */
    height: auto;
  }
  .p-search-form__input {
    width: 72.52%;
    padding: 10px;
  }
  .p-search-form__button {
    width: 24.9%;
    margin-left: 2.56%;
    /*inputとの余白*/
    padding: 12px 8%;
    /*潰れないように*/
    background-color: #F2EDE9;
    border: solid #707070 1px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.43;
    color: #707070;
    font-weight: bold;
    box-sizing: border-box;
  }

  .p-search-form__icon {
    /* 虫眼鏡アイコン */
    top: 50%;
    /*inputの真ん中に配置*/
    left: 3.03%;
    max-width: 4% !important;
    transform: translate(-50%, -50%);
    /*inputの真ん中に配置*/
    -webkit-transform: translate(-3.03%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .p-search-form__icon.active {
    display: none;
    /*アクティブになったら消える */
  }
}
@media screen and (min-width: 1250px) {
  .p-search-form {
    position: relative;
    width: 35.09%;
    height: 0;
    margin-top: -3% !important;
    /*上のmarginをPCの場合消す*/
    margin-right: 2%;
  }
  .p-search-form__input {
    width: 72.66%;
    line-height: 100%;
  }
  .p-search-form__button {
    max-width: 136px;
    height: 100%;
    padding: 12px 5%;
    /*潰れないように*/
    margin-left: 13px;
  }

  .p-search-form__icon {
    /* 虫眼鏡アイコン */
    position: relative;
    top: 50% !important;
    /*inputの真ん中に配置*/
    left: 3.03%;
    transform: translate(-50%, -50%);
    /*inputの真ん中に配置*/
    -webkit-transform: translate(-3.03%, -50%);
    -ms-transform: translate(-50%, -50%);
    min-width: 4.39%;
  }
}
/* スマホ */
/* hero */
.p-hero {
  position: relative;
  z-index: 100;
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.p-hero__png--pc {
  display: none !important;
}
.p-hero__png--sp {
  /* スマホ版の画像 */
  display: block !important;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  background-image: url(../img/hero_sp.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.p-hero__label {
  /* ダミーサイトの文字 */
  display: inline-block;
  position: absolute;
  z-index: 100;
  top: 43%;
  left: 7%;
  /*25px*/
  height: auto;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 9.6vw;
  /*36px*/
  font-weight: bold;
  line-height: 60/40;
  color: #FFFFFF;
}

@media screen and (min-width: 600px) {
  .p-hero {
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: 0;
    padding-bottom: 32.85%;
  }
  .p-hero__png--sp {
    display: none !important;
    /*スマホの画像は隠す*/
  }
  .p-hero__png--pc {
    display: block !important;
    /*PCの画像を表示*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 32.85%;
    background-image: url(../img/hero_pc.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .p-hero__label {
    /* ダミーサイトの文字 */
    display: block;
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 10%;
    /*86px*/
    z-index: 110;
    font-size: 4.31vw;
    font-weight: bold;
    line-height: 54/36;
  }
}
@media screen and (min-width: 1250px) {
  .p-hero {
    max-width: 100%;
    height: 0;
    padding-bottom: 33.93%;
  }
  .p-hero__png--pc {
    width: 100%;
    height: 0;
    padding-bottom: 33.93%;
  }
  .p-hero__label {
    /* ダミーサイトの文字 */
    top: 44%;
    left: 16%;
    /*86px*/
    font-size: 2.08vw;
    font-weight: bold;
    line-height: 60/40;
  }
}
.p-contents {
  /*外枠*/
  width: 100%;
  height: auto;
  display: flex !important;
  justify-content: center !important;
  margin: 0;
  padding: 0;
  background-color: #FFFDFA;
  overflow: hidden;
}
.p-contents__inner {
  /*contentsの内側*/
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  width: 89.6%;
  height: auto;
  margin-top: 20px;
  /*pxでないとズレる*/
  margin-bottom: 49px !important;
  /*pxでないとズレる*/
  box-sizing: border-box;
  overflow: hidden;
}

.p-contents__branch-menu {
  /*2メニュー共通 */
  position: relative;
  min-width: 80%;
  /*字が飛び出ないように*/
  height: auto;
  padding: 89% 3% 20% 3%;
  overflow: hidden;
}
.p-contents__branch-menu__label {
  /*Take-out･Eat-in共通大ラベル */
  position: absolute;
  top: 3%;
  left: 3%;
  margin-bottom: 4%;
  font-family: "Roboto", sans-serif;
  font-size: 11vw;
  font-weight: bold;
  line-height: 1.31;
  color: #EAEAEA;
}
.p-contents__branch-menu__label::after {
  /*共通下線 */
  content: "";
  position: absolute;
  top: 181%;
  left: 0px;
  width: 38%;
  height: 4px;
  display: inline-block;
  color: #EAEAEA;
  background-color: #EAEAEA;
}

.take-out {
  /*マルチクラス */
  margin-right: 0;
  background-image: url(../img/p-contents__branch-menu__take-out.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.eat-in {
  /*マルチクラス */
  margin-top: 20px;
  background-image: url(../img/p-contents__branch-menu__eat-in.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.p-contents__branch-menu__box--top {
  /*白いBOX:上*/
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 44%;
  /*字が飛び出ないように*/
  padding-top: 17px;
  padding-bottom: 23px;
  margin-bottom: 9px;
  background-color: rgba(255, 255, 255, 0.83);
  color: #3C2A10;
}
.p-contents__branch-menu__box--bottom {
  /*白いBOX:下*/
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 44%;
  /*字が飛び出ないように*/
  padding-top: 17px;
  padding-bottom: 23px;
  margin-bottom: 0 !important;
  background-color: rgba(255, 255, 255, 0.83);
  color: #3C2A10;
}
.p-contents__branch-menu__box__title {
  /*白いBOX内:タイトル(共通)*/
  display: inline-block;
  margin-left: 3%;
  margin-bottom: 19px;
  font-size: 6vw;
  font-weight: bold;
  line-height: 1.45;
  overflow-wrap: break-word;
}

.p-contents__branch-menu__box__text {
  /*白いBOX内:テキスト(共通)*/
  display: block;
  position: relative;
  max-width: 92.47%;
  height: 100% !important;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 5%;
  overflow-wrap: break-word;
  font-size: 4vw;
  line-height: 1.43;
  overflow-wrap: break-word;
}
.p-contents__branch-menu__box__text::before {
  /*BOX内：字が入ると高さが出るように*/
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  padding-bottom: 52%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 600px) {
  .p-contents {
    /*contentsの外枠*/
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
  }
  .p-contents__inner {
    /*contentsの内側*/
    display: flex !important;
    flex-direction: unset;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: 5% 5%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .p-contents__branch-menu {
    /*take-out・eat-in共通 */
    min-width: 40.99%;
    min-height: 50.12%;
    /*字が飛び出ないように*/
    padding: 46.4% 2% 1.61% 2%;
  }

  /*take-out*/
  .take-out {
    /*マルチクラス */
    margin-right: 5%;
  }

  /*eat-in*/
  .eat-in {
    /*マルチクラス */
    margin-top: 0;
  }

  .p-contents__branch-menu__label {
    /*take-out・eat-in共通大ラベル */
    position: absolute;
    top: 4%;
    left: 3%;
    margin-bottom: 30px;
    font-size: 5.3vw;
    font-weight: bold;
    line-height: 1.31;
    color: #EAEAEA;
  }
  .p-contents__branch-menu__label::after {
    /*大ラベル共通の下線 */
    content: "";
    position: absolute;
    top: 63px;
    left: 0px;
    width: 35.94px;
    height: 4px;
    display: inline-block;
    background-color: #EAEAEA;
  }

  .p-contents__branch-menu__box--top {
    /*白いBOX:上*/
    position: relative;
    min-height: 15%;
    /*字が飛び出ないように*/
    padding-top: 11.6%;
    padding-bottom: 4.1%;
    margin-bottom: 10px;
    font-size: 2.87vw;
  }
  .p-contents__branch-menu__box--bottom {
    /*白いBOX:下*/
    position: relative;
    max-width: 100%;
    position: relative;
    min-height: 15%;
    padding-top: 11.6%;
    padding-bottom: 4.1%;
    margin-bottom: 0 !important;
  }

  .p-contents__branch-menu__box__title {
    /*白いBOX内：共通タイトル*/
    display: inline-block;
    margin-left: 3.2%;
    margin-bottom: 11.6%;
    font-size: 2.87vw;
    font-weight: bold;
    line-height: 36/24;
    overflow-wrap: break-word;
  }
  .p-contents__branch-menu__box__text {
    /*白いBOX内：共通テキスト*/
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.91vw;
    line-height: 23/16;
    overflow-wrap: break-word;
  }
  .p-contents__branch-menu__box__text::before {
    /*字が増えても崩れないように*/
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    padding-bottom: 51.49%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (min-width: 1250px) {
  .p-contents {
    /*contentsの外枠*/
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
  }
  .p-contents__inner {
    /*contentsの内側*/
    display: flex !important;
    flex-direction: unset;
    width: 100%;
    /*1330px/1553*/
    padding: 0;
    margin: 8.29% 7.14% 8.98% 7.14% !important;
    box-sizing: border-box;
  }

  /*branch-menu ------------ */
  .p-contents__branch-menu {
    /*2メニュー共通 */
    position: relative !important;
    top: 0;
    left: 0;
    width: 46.99% !important;
    min-height: 30.84%;
    /*字が飛び出ないように*/
    padding: 67.5% 3% 3% 3%;
  }

  /*take-out*/
  .take-out {
    /*マルチクラス */
    margin-right: 6.01% !important;
  }

  .p-contents__branch-menu__label {
    /*大きな共通ラベル */
    position: absolute;
    top: 3%;
    left: 3%;
    font-size: 4.16vw;
    line-height: 106/80;
  }
  .p-contents__branch-menu__label::after {
    /*大きな共通ラベルの下線 */
    content: "";
    position: absolute;
    top: 156%;
    left: 0px;
    width: 63px;
    height: 4px;
  }

  .p-contents__branch-menu__box--top {
    /*白いBOX:上 */
    position: relative;
    max-width: 100% !important;
    min-height: 14.54%;
    /*字が飛び出ないように*/
    padding-top: 2.9%;
    padding-bottom: 4.1%;
    margin-bottom: 2%;
  }
  .p-contents__branch-menu__box--bottom {
    /*白いBOX:下 */
    position: relative;
    max-width: 100% !important;
    min-height: 14.54%;
    /*字が飛び出ないように*/
    padding-top: 2.9%;
    padding-bottom: 4.1%;
    margin-bottom: 0 !important;
  }

  .p-contents__branch-menu__box__title {
    /*box内の共通タイトル*/
    display: inline-block;
    margin-left: 3.24%;
    margin-bottom: 2.17%;
    font-size: 1.92vw;
    font-weight: bold;
    line-height: 36/24;
    overflow-wrap: break-word;
  }
  .p-contents__branch-menu__box__text {
    /*box内の共通テキスト*/
    display: block;
    position: relative;
    width: 100% 　 !important;
    height: 0;
    margin-left: 3.24% !important;
    margin-left: 3.24% !important;
    padding-bottom: 9%;
    overflow-wrap: break-word;
    font-size: 16px;
    line-height: 1.43;
  }
  .p-contents__branch-menu__box__text::before {
    /*字が増えても崩れないように*/
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    content: "";
    padding-bottom: 56.25%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*PCとタブレットの画像を隠す*/
.p-access-map__png-pc,
.p-access-map__png-tab {
  display: none;
}

.p-access-map {
  /*外枠*/
  position: relative;
  z-index: 130;
  max-width: 100%;
  min-width: 20%;
  /*横幅を保ちテキストが飛び出さない様にする*/
  height: 0;
  /*高さは指定しない*/
  padding-bottom: 180.8%;
  /*アスペクト比を保つ*/
  margin: 0;
  background-color: #000000;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}
.p-access-map__wrapper {
  /*外枠のwrapper*/
  position: relative;
  min-width: 295px !important;
  /*横幅を保ちテキストが飛び出さない様にする*/
}
.p-access-map__mask {
  /*テキスト無し薄い黒いマスク*/
  display: block;
  position: absolute;
  z-index: 130;
  top: 0;
  /*全体を覆う*/
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  min-width: 62%;
  /*横幅を保ちテキストが飛び出さない様にする*/
  height: 0;
  /*高さは指定しない*/
  padding-bottom: 180.8%;
  /*アスペクト比を保つ*/
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
}
.p-access-map__mask-sp {
  /*スマホのみ濃い黒のマスクを追加*/
  display: block;
  position: absolute;
  z-index: 130;
  top: 0;
  left: 0;
  width: 100%;
  height: 60.05%;
  background-color: rgba(0, 0, 0, 0.29);
}

.p-access-map__text-group {
  /*テキスト*/
  display: block !important;
  position: relative;
  /*浮いて要素から飛び出さない様に*/
  z-index: 140;
  /*字の入っている要素が一番上*/
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  min-height: 74.96%;
  padding: 84px 6.56% 10% 6.56%;
  /*TOP･bottomはpx以外長さがおかしい為px*/
  background-color: none;
  font-size: 3.73vw;
  /*可変し過ぎないよう単位はvw*/
  color: #FFFFFF !important;
  line-height: 2.35;
  word-break: break-all;
  /*どの文字の間でも改行する*/
  resize: auto;
  overflow: hidden;
  /*タイトル*/
  /*textのタイトルの下線*/
  /*textの本体グループ*/
}
.p-access-map__text-group__index {
  display: block;
  position: absolute;
  top: 40px !important;
  /*px以外長さがおかしい為px*/
  left: 6.56%;
  margin-bottom: 0;
  font-size: 8vw;
  /*可変し過ぎないよう単位はvw*/
  line-height: 1.5;
  white-space: nowrap;
  /*折り返さない*/
  color: #FFFFFF;
  opacity: 1;
  /*透けないように*/
}
.p-access-map__text-group__index::after {
  content: "";
  display: inline-block !important;
  position: absolute;
  z-index: 140;
  top: 62px;
  /*px以外長さがおかしい為px*/
  left: 0;
  width: 75px;
  /*記号で長さが必要な為px*/
  height: 2px;
  margin-bottom: 0;
  white-space: nowrap;
  background-color: #FFFFFF;
  opacity: 1;
  /*透けないように*/
}
.p-access-map__text-group__body {
  display: inline-block !important;
  height: auto;
  padding-bottom: 2.31%;
  margin-top: 9.63%;
  font-size: 3.73vw;
  /*可変し過ぎないよう単位はvw*/
  font-weight: bold;
  line-height: 2.35;
  color: #FFFFFF;
  word-break: break-all;
  /*どの文字の間でも改行する*/
}

.p-access-map__png-sp {
  /*スマホ用の写真*/
  display: block;
  background-image: url(../img/map_mob.png);
  position: absolute;
  z-index: 130;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding-bottom: 184.26%;
  /*アスペクト比を保つ*/
  background-size: cover;
  /*画像で全体を覆う*/
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
  .p-access-map__png-pc,
.p-access-map__png-sp {
    /*PCとSPの写真は隠す*/
    display: none;
  }

  .p-access-map {
    /*外枠*/
    position: relative;
    z-index: 130;
    max-width: 100%;
    min-width: 20%;
    /*横幅を保ちテキストが飛び出さない様にする*/
    height: 0;
    /*高さは指定しない*/
    padding-bottom: 49.76%;
    background-color: #000000;
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    box-sizing: border-box;
  }
  .p-access-map__wrapper {
    position: relative;
    min-width: 350px;
    /*横幅を保ちテキストが飛び出さない様にする*/
  }
  .p-access-map__mask {
    display: block;
    position: absolute;
    z-index: 130;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    min-width: 62%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .p-access-map__mask-sp {
    /*SP用のマスクは隠す*/
    display: none;
  }

  .p-access-map__text-group {
    /*テキスト*/
    display: inline-block;
    position: relative;
    /*浮いて要素から飛び出さない様に*/
    z-index: 140;
    /*字が入っている為一番上*/
    max-width: 100%;
    min-width: 90.04%;
    /*横幅を保ちテキストが飛び出さない様にする*/
    height: auto;
    min-height: 53.97%;
    /*テキストが飛び出さない様にする*/
    padding: 122px 5.03% 49.76% 5.03%;
    /*TOPはpx以外長さがおかしい為px*/
    background-color: rgba(0, 0, 0, 0.29);
    font-size: 1.67vw;
    /*可変し過ぎないよう単位はvw*/
    line-height: 2.35;
    color: #FFFFFF;
    -o-object-fit: cover;
       object-fit: cover;
    word-break: break-all;
    /*どの文字の間でも改行する*/
    resize: auto;
    overflow: hidden;
    box-sizing: border-box;
  }
  .p-access-map__text-group__index {
    position: absolute;
    display: inline-block;
    top: 40px;
    /*px以外ズレる*/
    left: 5.03%;
    font-size: 3.59vw;
    /*可変し過ぎないよう単位はvw*/
    color: #FFFFFF;
    line-height: 1.5;
    white-space: nowrap;
    /*折り返さない*/
    opacity: 1;
    /*透けないように*/
    box-sizing: border-box;
  }
  .p-access-map__text-group__index::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 140;
    top: 62px;
    /*px以外ずれる*/
    left: 0;
    width: 75px;
    /*記号で長さが必要な為px*/
    height: 2px;
    background-color: #FFFFFF;
    opacity: 1;
    /*透けないように*/
  }
  .p-access-map__text-group__body {
    /*テキストの本文グループ*/
    display: inline-block;
    height: 100%;
    padding-bottom: 8.67%;
    /*テキストの最後の部分が隠れないように*/
    margin-top: 0px;
    font-size: 1.67vw;
    /*可変し過ぎないよう単位はvw*/
    font-weight: bold;
    color: #FFFFFF;
    line-height: 2.35;
  }

  .p-access-map__png-tab {
    /*タブレットの写真*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 49.76%;
    /*アスペクト比を保つ*/
    background-image: url(../img/map_tab.png);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1250px) {
  .p-access-map__png-tab,
.p-access-map__png-sp {
    /*タブレット・携帯用の写真は隠す*/
    display: none;
  }

  .p-access-map__mask-sp {
    /*SP用のマスクは隠す*/
    display: none;
  }

  .p-access-map {
    /*外枠*/
    position: relative;
    z-index: 130;
    width: 100%;
    min-width: 62%;
    /*横幅を保ちテキストが飛び出さない様にする*/
    height: 0 !important;
    padding-bottom: 41.79%;
    /*アスペクト比を保つ*/
    margin: 0;
    background-color: none;
    overflow: hidden;
  }
  .p-access-map__wrapper {
    /*外枠のwrapper*/
    position: relative;
    min-width: 765px;
    /*内側が増えると高さが広がるように*/
  }
  .p-access-map__mask {
    display: block;
    position: absolute;
    z-index: 130;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    max-width: 100%;
    min-width: 62%;
    padding-bottom: 41.79%;
    /*アスペクト比を保つ*/
    height: auto !important;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .p-access-map__png-pc {
    /*PC用の画像を表示する*/
    display: block;
    background-image: url(../img/map_pc.png);
    z-index: 130;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    min-width: 62%;
    /*横幅を保ちテキストが飛び出さない様にする*/
    height: 0;
    /*高さは指定しない*/
    padding-bottom: 41.79%;
    /*アスペクト比を保つ*/
    background-size: cover;
    /*画像で全体を覆う*/
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #000000;
  }
  .p-access-map__png-pc__wrapper {
    /*外枠のwrapper*/
    min-width: 1553px;
    /*内側が増えると高さが広がるように*/
  }

  .p-access-map__text-group {
    /*テキスト*/
    display: block !important;
    position: relative;
    /*浮いて要素から飛び出さない様に*/
    z-index: 140;
    /*字が入っている為一番上*/
    max-width: 61.17% !important;
    min-width: 73.36% !important;
    /*横幅を保ちテキストが飛び出さない様にする*/
    min-height: 54.85%;
    /*テキストが飛び出さない様にする*/
    height: auto;
    padding: 19.49% 119px 68.31% 119px !important;
    background-color: rgba(0, 0, 0, 0.29);
    font-size: 0.83vw;
    /*可変し過ぎないよう単位はvw*/
    color: #FFFFFF;
    line-height: 2.06;
    word-break: break-all;
    /*どの文字の間でも改行する*/
    -o-object-fit: cover;
       object-fit: cover;
    /*画像で全体を覆う*/
    overflow: hidden;
  }
  .p-access-map__text-group__index {
    /*タイトル*/
    position: absolute;
    display: block;
    top: 7.85% !important;
    left: 119px;
    font-size: 1.87vw;
    /*可変し過ぎないよう単位はvw*/
    margin-bottom: 9.63%;
    color: #FFFFFF;
    line-height: 1.05;
    white-space: nowrap;
    /*折り返さない*/
    opacity: 1;
    /*透けないように*/
  }
  .p-access-map__text-group__index::after {
    /*タイトル下の下線*/
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 140;
    top: 285%;
    left: 0;
    width: 75px;
    /*記号で長さが必要な為px*/
    height: 2px;
    background-color: #FFFFFF;
    opacity: 1;
    /*透けないように*/
  }
  .p-access-map__text-group__body {
    /*テキストの本文グループ*/
    display: inline-block;
    height: 100%;
    padding-bottom: 5.02%;
    /*テキストの最後の部分が隠れないように*/
    margin-top: 0px;
    font-size: 0.84vw;
    /*可変し過ぎないよう単位はvw*/
    font-weight: bold;
    color: #FFFFFF;
    line-height: 2.06;
  }
}
/* スマートフォン */
.p-footer {
  position: relative;
  z-index: 140;
  /*上の地図のテキストと同じ高さ*/
  max-width: 100%;
  height: auto;
  background-image: url(../img/c-footer.png);
  -o-object-fit: cover;
     object-fit: cover;
  /*要素全体を画像で覆う*/
}
.p-footer__wrapper {
  /*縦に潰れないように*/
  padding-top: 39px;
  /*px以外長さがおかしい為px*/
  padding-bottom: 31px;
  /*px以外長さがおかしい為px*/
}

.p-footer__menu {
  display: flex;
  flex-direction: column;
  /*aboutとcopyrightを縦に並べる*/
  justify-items: center;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  color: #FFFFFF;
}
.p-footer__menu__info {
  display: inline-block;
  margin-bottom: 34px;
  /*px以外長さがおかしい為px*/
  font-size: 5.33vw;
  /*テキストが可変し過ぎない様vw*/
  font-weight: normal;
  line-height: 1.5;
}
.p-footer__menu___copy {
  display: inline-block;
  line-height: 1.42;
  font-size: 3.73vw;
  /*テキストが可変し過ぎない様vw*/
  font-weight: normal;
}

/* タブレット */
@media screen and (min-width: 600px) {
  .p-footer {
    height: auto;
  }
  .p-footer__wrapper {
    /*縦に潰れないように*/
    padding-top: 39px;
    /*px以外長さがおかしい為px*/
    padding-bottom: 29px;
    /*px以外長さがおかしい為px*/
  }

  .p-footer__menu__info {
    display: inline-block;
    margin-bottom: 34px;
    /*px以外長さがおかしい為px*/
    font-size: 2.39vw !important;
    /*テキストが可変し過ぎない様vw*/
    font-weight: normal;
    line-height: 1.5;
  }
  .p-footer__menu__copy {
    display: inline-block;
    font-size: 1.67vw;
    /*テキストが可変し過ぎない様vw*/
    font-weight: normal;
    line-height: 1.42;
  }
}
/* PC */
@media screen and (min-width: 1250px) {
  .p-footer {
    height: 150px;
  }
  .p-footer__wrapper {
    /*縦に潰れないように*/
    padding-top: 39px;
    /*px以外長さがおかしい為px*/
    padding-bottom: 30px;
    /*px以外長さがおかしい為px*/
  }

  .p-footer__menu__info {
    display: inline-block;
    margin-bottom: 34px;
    /*px以外長さがおかしい為px*/
    font-size: 1.04vw !important;
    /*テキストが可変し過ぎない様vw*/
    font-weight: normal;
    line-height: 1.5;
  }
  .p-footer__menu__copy {
    display: inline-block;
    font-size: 0.72vw;
    /*テキストが可変し過ぎない様vw*/
    font-weight: normal;
    line-height: 1.42;
  }
}
.p-sidebar {
  position: relative;
  padding-top: 7.62%;
  padding-bottom: 51.69%;
  /*背景色の足りない部分を埋める*/
  margin: 0;
  background-color: #F2EDE9;
  font-family: "M PLUS 1p", sans-serif;
  transition: all 0.3s;
}
.p-sidebar__nav {
  /*サイドバーのMenuの下：字の部分*/
  position: relative;
  min-width: 80.18%;
  height: auto;
  margin-top: 164px;
  margin-left: 14.63%;
  padding-left: 0;
}

.p-sidebar__nav__label {
  /*サイドバーのMenu*/
  display: none;
  /*スマホ時は隠す*/
}
.p-sidebar__nav__title {
  /*バーガー・サイド・ドリンク*/
  display: block;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  color: #707070;
}
.p-sidebar__nav__list {
  /*__titleを除いた各（バーガー・サイド・ドリンク）メーニュー群の箱*/
  margin-bottom: 40px;
  padding-left: 8%;
  width: 65.39%;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #707070;
}

.p-sidebar__nav__list__item {
  /*各リストアイテムの詳細*/
  margin-bottom: 22px;
}
.p-sidebar__nav__list__item > .c-item__title {
  /*各リストアイテムの詳細のリンクの部分*/
  list-style: none;
  text-decoration: none;
  color: #707070;
}

.p-sidebar__menu__close-btn {
  /*✕ボタン*/
  display: block;
  position: absolute;
  top: 1.75%;
  right: 6.81%;
  width: 32px;
  height: auto;
  color: #707070;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  .p-sidebar__nav {
    /*サイドバーのMenuの下：字の部分*/
    position: relative;
    min-width: 70.29%;
    height: auto;
    margin-top: calc(212 - 7.62%) px;
    margin-left: 12.53%;
  }
  .p-sidebar__nav__title {
    /*バーガー・サイド・ドリンク*/
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    line-height: 1.5;
  }
  .p-sidebar__nav__list {
    /*__titleを除いた各（バーガー・サイド・ドリンク）メーニュー群の箱*/
    margin-bottom: 22px;
    padding-left: 7.69%;
    width: 92.3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #707070;
  }
}
@media screen and (min-width: 1250px) {
  .p-sidebar {
    position: relative;
    display: block !important;
    max-width: 100% !important;
    min-height: 100%;
    padding-top: 0;
    overflow-y: hidden;
  }
  .p-sidebar__nav {
    /*サイドバーのMenuの下：字の部分*/
    display: inline-block;
    position: relative;
    min-width: 69.75%;
    max-height: 42%;
    z-index: 100;
    height: 0;
    padding-bottom: 422%;
    margin-left: 6.25%;
    margin-left: 13.62%;
  }

  .p-sidebar__nav__label {
    /*サイドバーのMenu*/
    display: block !important;
    margin-bottom: 85px;
    font-size: 1.77vw;
    font-weight: bold;
    color: #707070;
    line-height: 1.32;
  }
  .p-sidebar__nav__title {
    /*バーガー・サイド・ドリンク*/
    font-size: 1.25vw;
    font-weight: 700;
  }
  .p-sidebar__nav__list {
    margin-bottom: 40px;
    padding-left: 4.26%;
    width: 80%;
    font-weight: 500;
    font-size: 1.04vw;
    color: #707070;
    word-break: break-all;
    line-height: 30/20;
  }
  .p-sidebar__nav__list__item {
    /*各リストアイテムの詳細*/
    margin-bottom: 8%;
  }

  .p-sidebar__menu__close-btn {
    /*サイドバーの✕ボタン*/
    display: none;
    /*PCの時は隠す*/
  }
}
/* Component ------------ */
/*スマホ----*/
.c-logo {
  /*Hamburgerのロゴ*/
  display: block;
  max-width: 54.13%;
  margin: 5px auto 38px auto;
  /*38px：検索BOXまでの距離*/
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 10.66vw;
  color: #707070;
  line-height: 1.32;
  font-weight: bold;
}

.toggle_btn {
  /*header側：MENUボタン*/
  display: block;
  /*表示する*/
  position: absolute;
  top: 14px;
  right: 16px;
  /*headerの右上に配置*/
  z-index: 50;
  transition: transform 0.3s, opacity 0.3s;
}

.toggle_btn__label {
  font-family: "Roboto", sans-serif;
  font-size: 5.33vw;
  /*20px（カンプ）*/
  font-weight: bold;
  color: #707070;
  line-height: 1.3;
}
.toggle_btn__label__labe:after {
  display: none;
  /*サイドバーが出たら隠す*/
}

.c-overlay {
  /*全体を暗くするfilter―*/
  position: fixed;
  z-index: 150;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  /*何もしていない時は透明*/
  display: none;
  transition: transform 0.1s;
}

.c-overlay.show {
  /*MENUを押すと全体を覆う*/
  display: block;
  opacity: 0.5;
}

/*タブレット*/
@media screen and (min-width: 600px) {
  .c-logo {
    font-size: 4.8vw;
    max-width: 24.34%;
  }

  .toggle_btn {
    /*headerのMENUボタン*/
    display: block;
    max-width: 10%;
  }
  .toggle_btn__label {
    font-size: 34px;
    line-height: 1.32;
  }
}
/* PC */
@media screen and (min-width: 1250px) {
  .c-logo {
    display: block;
    max-width: 20.92%;
    height: auto;
    margin-left: 4% !important;
    font-size: 4.12vw;
    color: #707070;
    line-height: 1.31;
  }

  /*headerのMENUボタン*/
  .toggle_btn {
    display: none;
    /*MENUボタンは表示しない*/
  }
}/*# sourceMappingURL=style.css.map */