/*関数の定義*/
/*ロゴ*/
/*Hamburgerの文字・MENUボタン*/
@mixin c-logo($display:block, $height:auto, $font-family:$font-family--Roboto, $font-weight: bold, $color:$color--char-GY) {
  display: block;
  height: auto;
  font-family:$font-family--Roboto;
  font-weight: bold;
  color:$color--char-GY;
}

/*ボタン*/
@mixin c-button($display: block, $height: auto, $cursor: pointer, $transition: transform .3s opacity .3s) {
  display: block;
  height: auto;
  cursor: pointer;
  transition: transform .3s opacity .3s;
}
