/* スマホ */
/* hero */
.c-hero__png__archive--pc{/* spの時はpc用写真は隠す */
  display: none !important;
}
.p-hero__archive{/*hero外枠*/
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 75.46% !important;
  background-color: #000000;
  font-family:$font-family--M-plus;
}
.c-hero__png__archive--sp{/*heroスマホ用写真を表示する*/
  display: block !important;
  position: absolute !important;
  top:0;
  left: 0;
  z-index: 100;
  width: 100% !important;
  padding-bottom: 75.46% !important;
  height: 0;
  background-image:url(../img/hero_sp__archive.png);
  background-position: top right;
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
}
/* contents */
.p-contents__archive{/*archiveページのcontents外枠*/
  display: block;
  max-width: 100%;
  height: auto;
  overflow: visible;
  background-color: #FFFDFA;
  font-family: $font-family--M-plus;
}
.p-contents__archive__inner--top{/*上contents：スタイル*/
  margin-bottom: 70px;
  font-family:$font-family--M-plus;
}
.p-contents__archive__inner--middle{/*真ん中contents：スタイル*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contents__archive__introduction__innder{/*introductionのInner*/
margin: 30px 18px 19px 18px;
border: solid red 1px;
}


.p-contents__archive__cards{/*cardのグループ*/
  margin-top: 0;
  margin-right: 18px;
  margin-bottom: 113px !important;
  margin-left: 18px;
  border: solid green 1px;
}

    /* pagenation */
.c-pages{
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin-bottom: 64px;
  background-color: blueb !important;
  font-family: $font-family--Roboto;
}

.c-photo__pc{/*card内の写真--PC用は隠す*/
  display: none !important;
}
.c-photo__sp{/*card内の写真--スマホを表示*/
  max-width:100%;
  height: 0;
  padding-bottom:68.72%;
  background-image:url(../img/item_sp_archive.png);
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
}

.c-card{/*（card）各商品の外枠*/
  margin-bottom: 30px;/*下の余白*/
}

.c-photo-group{/*card内写真の枠*/
  display: block;
  width: 100%;
}
.c-card__caption-group{/*card内の文章の外枠*/
  width: 100%;
  padding-top: 30.5px;
  padding-bottom: 43.7px;
  background-color: #3C2B1C;
  color:#FFFFFF;
  font-size: 16px;
  border: solid white 1px;
  box-sizing: border-box;
}
.c-button__wrapper{/*card内のbuttonのwrapper*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border: solid white 1px;
}
.c-button--card{/*card内のbutton*/
  @include c-button;
  position: relative;
  width: 167px;
  height: 42.47px;
  padding: 10px;
  background-color: #FFFFFF;
  color:#707070 !important;
  border-radius:30px;
  box-sizing: border-box;
}

.c-button--card__label{/*card内のbuttonのlabel*/
  display: inline-block;
  position: absolute;
  z-index: 140;
  top: 50%;/*真ん中に配置*/
 left: 50%;
  transform: translate(-50%, -50%);/*真ん中に配置*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size:16px;
  color:red !important;

}




.p-contents__archive__introduction__title{
  font-size: 16px;
  font-family:$font-family--M-plus;
  color: #3C2A10;
  font-weight: bold;
  line-height: 1.43;
}

.c-category{/*card内の大きい見出し*/
  display: inline-block;
  margin-bottom: 30px;
  font-size:20px;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}
.c-sub-heading{
  margin-bottom: 10px;
}


.p-contents__archive__introduction__text{
  display: inline-block;
  font-size: 16px;
  color:#3C2A10;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
  border: solid red 1px;
}
.c-card__detail{/* card内説明の詳細 */
  word-wrap:break-word;
}

/* タブレット */
@media screen and (min-width: 600px){

}
/* PC */
@media screen and (min-width: 1250px){
/* hero */
  .c-hero__png__archive--sp{/* pcの時は隠す */
   display: none !important;
  }
  .p-hero__archive{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 15.38% !important;
    background-color: #000000;
  }
  .c-hero__png__archive--pc{
    display: block !important;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    width: 100% !important;
    padding-bottom: 15.38%;
    height: 0;
    background-image:url(../img/hero_pc__archive.png);
    background-position: top right;
    background-size: cover !important;
    background-repeat:no-repeat;
    vertical-align:bottom;
  }
/* contents */
  .contents__archive__introduction__innder{
    margin: 60px 100px 70px 100px;
    }
    .p-contents__archive__inner--top{
      margin-bottom: 0px;
    }
/* introduction */
    .p-contents__archive__introduction__title{
      display: inline-block;
      font-size: 28px !important;
      font-family:$font-family--M-plus;
      line-height: 1.5;
      margin-bottom: 30px !important;
    }

    .p-contents__archive__cards{/*cardのグループ*/
      margin-top: 0;
      margin-right: 100px;
      margin-bottom: 150px !important;
      margin-left: 100px;
      border: solid green 1px;
    }

    /* card */
  .c-card{
    display: flex;
    flex-direction: row-reverse;/*画像を左・文章を右に*/
    width: 100%;
    margin-bottom: 30px;
    background: cornsilk;
  }
  .c-card:last-child{/*一番最後の商品の下の余白だけ長さが違う*/
    margin-bottom: 150px;
    margin-bottom: 0;
  }

  .c-card__caption-group{/*card内の文章の外枠*/
    width: 50%;
    padding: 0;
    background-color: #3C2B1C;
    color:#FFFFFF;
    font-size: 16px;
    border: solid red 1px;
  }
  .c-photo-group{/*50でないとおかしい*/
    width: 50%;
  }
  .c-photo__sp{
    display: none !important;
  }
  .c-photo__pc{
    display: block !important;
    max-width:100%;
    height: 0;
    padding-bottom: 69.57%;
    background-image:url(../img/item_pc_archive.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    vertical-align:bottom;
  }
  .p-contents__archive{
    max-width: 100%;
    height: auto;
    overflow: visible;
  }
  .c-category{/*card内の大きい見出し*/
    display: inline-block;
    margin-top: 53px;
    margin-left: 63px;
    font-size:36px;
    font-weight: bold;
    font-family:$font-family--M-plus;
    line-height: 1.5;
  }
  .c-sub-heading{
    margin-left: 63px;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 1.5;
  }
  .c-card__detail__wrapper{
    display: block;
    width: 75.29%;
    margin-left: 63px;
    margin-bottom: 40px;
    font-size: 16px;
    font-family:$font-family--M-plus;
    line-height: 1.43;
    border: solid red 1px;
  }
  .c-button--card{
    @include c-button;
    position: relative;
    width: 292px;
    height: 76px;
    padding: 10px;
    background-color: #FFFFFF;
    color:#707070 !important;
    border-radius:30px;
    box-sizing: border-box;
  }
  .c-button__wrapper{/*card内のbuttonのwrapper*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: solid white 1px;
  }
  }
