/* スマホ */
/*------------- single */
/* contents */
.p-contents__single{/*contents共通部分*/
  max-width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  background-color:$color--base-WH;
  font-family: $font-family--M-plus;
  font-weight: normal;
  overflow: visible;
}

/* 文字のワイヤーフレーム --------------*/
.p-contents__single__inner--top{
  margin-right:5.33%;
  margin-bottom: 30px;
  margin-left:5.33%;
}

/* lead(見出し+記事)---- */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 30px;/*内側の余白 */
  padding-bottom: 34px;/*内側の余白 */
  box-sizing: border-box;
}

/* lead(見出し+リード記事の内側)------- */
.p-contents__single__lead{
&__inner{/* 外枠 */
  max-width:100% !important;
}

&__title{/* 見出し */
  margin-bottom: 30px;
  font-size: 28px;
  color: $color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}

&__text{/* 文章 */
  display: inline-block;
  font-size: 16px;
  color: $color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: normal;
  line-height: 1.43;
  word-wrap:break-word;
}
}

/* ブロックの埋め込み先共通　詳細は設定しない */
.p-contents__single__block__area{
  float: none;/* floatは解除 */
  font-family:$font-family--M-plus;
  overflow-y: hidden !important;
}

/* ------------テキスト系のブロック------------*/
/* 共通 */
.p-contents__single__text-block{
&__title{
  display: inline-block;
  color:#3C2A10;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}
}
/* 詳細 */
.__h2{
  margin-bottom: 30px;
  font-size: 28px;
}
.__h3{
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.5;
}
.__h4{
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 1.5;
}
.__h5{
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 1.5;
}
.__h6{
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

/* 引用文章＋引用文 */
.p-contents__single__quote{/* 全体 */
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F5F5;
  font-weight: normal;
  box-sizing: border-box;

&__inner{/* 外枠 */
  display: inline-block;
  margin: 0 7.19% 0px 7.19% !important;
  box-sizing: border-box;
}
&__text{
  color:#3C2A10;
  font-family:$font-family--M-plus;
  font-weight: normal;
  word-wrap:break-word;
  box-sizing: border-box;
}
&__text--detail{/* 文章 */
  display: inline-block;
  font-size: 16px;
  line-height: 1.43;
}
}

/* 引用文章＋引用文 */
.p-contents__single__quote__source{
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top:30px;
  font-size: 16px !important;
  font-family:$font-family--M-plus;
  font-weight: normal;
  line-height: 1.43;
}
　　
.p-contents__single__quote__source__title{/* 出典元*/
  display: inline-block !important;
  font-size: 16px !important;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #4A6C9B !important;
  text-decoration: underline;
}
.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:100%;
  left:0px;
  width: 100%;
  height: 1px;
}

/* cardーーーーーーーーーーーーー*/
.c-wrapper--card--single--for-pc{
  display: none;
}

.p-contents__single__inner--middle{/* ワイヤー*/
  height: 100%;
  margin: 0px 5.33%  0 5.33% !important;
  padding-bottom: 0;
  margin-bottom: 117px !important;
  border: solid pink 3px;
}

  .c-wrapper--card--single{/*カード同士の間隔（くり返しの部分迄）*/
    max-width: 100%;
    margin-bottom: 30px
  }
  .c-wrapper--card--single--pattern{/*カード同士の間隔（くり返し）*/
    max-width: 100%;
    margin-bottom: 20px
  }
  .c-wrapper--card--single--pattern:last-child{
    margin-bottom: 0 !important;/*カードの最後は下の余白は無し*/
  }

/* 写真のみのcardーーーーーーー*/
  .c-card--single{/* カード外枠*/
    @include c-card;
    border: solid red 1px;
}
/* 写真frame*/
  .c-photo-frame--card--single--full{
    display: block;
    width: 100% !important;/* 横幅100%*/
    height: 0;
    padding-bottom:37.01%;/*アスペクト比を維持*/
  }
/* 画像 */
  .c-photo--single{
    @include c-photo;
    display: block;
    width: 100%;/* 横幅100%*/
    height: 0;
    padding-bottom:37.01%;/*アスペクト比を維持*/
    background-image:url(../img/cheese-burger--per_37.png);
    background-position: center;
    background-repeat:no-repeat ;
  }
/* 写真のみのcardここまでーーーーーーー*/

/* card largeーーーーーーーーーーー*/
.c-card--single--large{/* 外枠 */
  @include c-card;
  display: flex;
  flex-direction: row !important;/* 左が写真、右が文 */
  max-width: 100%;
  height: 100%;
  border: solid red 1px;
}

.c-caption-group--card--single{/* 文章の外枠ーーー*/
  max-width:57.28% !important;
  min-height: 88.43%;
  padding-right:5.18%;
  padding-left:5.18%;
  box-sizing: border-box;
}
.c-detail--card--single{/* 文章の詳細ーーー*/
  width:100% !important;
  font-size: 16px;
  line-height: 1.43;
  word-wrap:break-word;
  border: solid red 1px;
}

.c-photo-frame--card--single--1-4{/* 写真の外枠ーーー*/
  display: block !important;
  width:42.72%;
  border: solid red 1px;
}

.p-hero__single__png--pc{
  display: none !important;
}
.c-photo--card--single--1-4{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
  background-image:url(../img/cheese-burger--per_62.png);
  background-position: left top;/*カンプに近い*/
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
  box-sizing: border-box;
}
/* card 大きな枠ここまでーーーーーーー*/

/* 写真が幅100%で周りに余白付きーーーーーーー*/

.c-wrapper--card--single--frame-type{/* 余白付き*/
  padding: 30px 34px;/* 余白の幅*/
  box-sizing: border-box;
}
.c-photo-frame--card--single--full--frame-type{
  @include c-card;
  height: 0;
  padding-bottom:62.17%;
}
.c-photo--single--frame-type{
  @include c-photo;
  height: 0;
  padding-bottom:62.17%;
  background-image:url(../img/cheese-burger--per_62.png);
}

/* 写真が幅100%で周りに余白付きここまでーーーーーーー*/
/* 写真が幅100%で余白無し、最後の複数パターンーーーーーーー*/

.c-photo-frame--card--full--single--pattern{
  width:100%;
  height: 0;
  padding-bottom: 60.89%;
}
.c-photo--single--full--single--pattern{
  @include c-photo;
  height: 0;
  padding-bottom: 60.89%;
  background-image:url(../img/cheese-burger--per_62.png);
}
.c-wrapper--card--single--pattern-area{
  display: flex;
  flex-direction: column;
}
/* 以下、リストーーーーーーーーーーーーー*/
.p-contents__single__list-block{/**/
  display: block;
  float: none !important;
  max-width: 100%;
  min-width: 53.86%;
  min-height: 87.23%;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: normal;
  color:#3C2A10;
  line-height: 1.43;
}
.p-contents__single__list--1{
  display: block;
  max-width: 100%;
  clear: both;
  float: none;
  margin-left: 0;
  margin-bottom: 20px;
}
.p-contents__single__list--2{
  display: block;
  float: none;
  clear:both;
  margin-left: 18px;
  margin-bottom: 20px;
}
.p-contents__single__list--1._for-margin{
  margin-bottom: 60px;
}
/* 以下、コードーーーーーーーーーーーーー*/
.p-contents__single__code-block__inner{
  margin-left: 50px;
  background-color: #F5F5F5;
}
.p-contents__single__code{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 49px;
  margin-right: 60p;
  border: solid red 1px;
}
.p-contents__single__code__detail{
  font-size: 16px;
  color: #3C2A10;
  line-height: 1.43;
  font-family:$font-family--M-plus;
  font-weight:normal
}

/* 以下、テーブルーーーーーーーーーーーーー*/
.p-contents__single__table-block{
  width: 100%;
  margin-top: 30px;
  background-color: #FFFFFF;
}
.p-contents__single__table{
  border-collapse: collapse !important;
  width: 100% !important;
}
/* 以下、コードーーーーーーーーーーーーー*/
th{
  border-collapse: collapse;
  width:40.89%;
  height: 77px;
  padding-bottom: 57.03%;
  padding: 28px 30px 27px 0 !important;
  border: solid 1px #707070;
  box-sizing: border-box;
}
  td{
  border-collapse: collapse;
  width:59.11%;
  height: 77px;
  padding: 28px 0 27px 30px!important;
  border: solid 1px #707070;
  box-sizing: border-box;
}

/* 以下、buttonーーーーーーーーーーーー*/
.p-contents__single__button-block__inner{
  margin-top: 30px;
}

.p-contents__single__button-block{
  position: relative;
  display: block !important;
  width: 100;
  height: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.43;
  padding-bottom: 24.17%;
  background-color: #F2EDE9;
  border: solid 1px #707070;
  border-radius: 20px;
  margin-bottom: 30px;
}
.p-contents__single__button-block__supplement{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.43;
  color:#3C2A10;
}


  /* タブレット */
@media screen and (min-width: 600px){
/*------------- single */
/* contents */
.p-contents__single{
  display: block;
  max-width: 100% !important;
}

/* 文字のワイヤーフレーム --------------*/
.p-contents__single__inner--top{
  margin-right:7.19%;
  margin-left:7.19%;
  margin-bottom: 60px;
}

/* lead(見出し+導入記事)---- */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 50px;/* 内側の余白 */
  padding-bottom: 60px;/* 内側の余白 */
  box-sizing: border-box;
}

/* lead(テキストのブロックの内側) */
.p-contents__single__lead{/* introduction(導入記事) */
  &__inner{/* 外枠 */
  max-width: 100%;
  }

  &__title{/* 見出し */
    display: inline-block;
    margin-bottom: 60px !important;
    font-size: 36px !important;
    font-weight: bold;
    font-family:$font-family--M-plus;
    line-height: 1.5;
  }

  &__text{/* 文章 */
    display: inline-block;
    font-size: 16px !important;
    font-weight: normal;
    color:$color--char-BR;
    font-family:$font-family--M-plus;
    line-height: 1.43;
    word-wrap:break-word;
  }
  }

/* ------------テキスト系のブロック------------*/
/* 共通 */
.p-contents__single__text-block{
&__title{
  display: inline-block;
  color:#3C2A10;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}
}
/* 詳細 */
.__h2{
  margin-bottom: 60px;
}

.__h3{
  margin-bottom: 59px;
  font-size: 28px;
}

.__h4{
  margin-bottom: 75px;
  font-size: 20px;
}

.__h5{
  margin-bottom: 59px;
  font-size: 20px;
}

.__h6{
  margin-bottom: 60px;
  font-size: 20px;
}

/* 引用文章＋引用元 */
.p-contents__single__quote{/* 全体 */
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #F5F5F5;
  font-weight: normal;
}

.p-contents__single__quote__source{/* 全体 */
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top: 60px;/* 引用文との距離 */
  font-size: 16px !important;
  line-height: 1.43;
}
      　　
.p-contents__single__quote__source__title{/* 出典元*/
  display: inline-block !important;
  font-size: 16px !important;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block !important;
  margin-left: 15px;
  font-size: 16px;
  color: #4A6C9B;
  text-decoration: underline;
}

.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 1px;
  color: #4A6C9B;
}

.p-contents__single__quote{/* 引用記事*/
&__inner{/* 外枠 */
  max-width: 100%;
  margin: 0 7.19% 0 7.19% !important;
  box-sizing: border-box;
}

&__text--detail{/* 文章 */
  display: inline-block;
  font-size: 1.91vw;
  color:#3C2A10;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}

.p-contents__single__inner--middle{/* 中間部分のワイヤー*/
  height: 100%;
  margin: 0px 7.19%  0 7.19% !important;/* 左右フレームの余白*/
  padding-bottom: 0;
  margin-bottom: 228px !important;
  border: solid pink 3px;
}
.c-wrapper--card--single--for-pc{
  display: none;
}

.c-wrapper--card--single{/*カード同士の間隔（くり返しの部分迄）*/
  max-width: 100%;
  margin-bottom: 0px
}
.c-wrapper--card--single--pattern{/*カード同士の間隔（くり返し）*/
  max-width: 100%;
  margin-bottom: 20px
}
.c-wrapper--card--single--pattern:last-child{
  margin-bottom: 0 !important;/*カードの最後は下の余白は無し*/
}
.c-wrapper--card--single._margin-bottom--60{
  margin-bottom: 60px;
}
.c-wrapper--card--single._margin-bottom--61{
  margin-bottom: 61px;
}
.c-wrapper--card--single._margin-bottom--117{
  margin-bottom: 117px;
}

.c-wrapper--card--single--pattern-area{
  display: block !important;
  max-width: 100%;
  height: 100%;
  border: solid red 1px;
  padding: 0;
}

.c-wrapper--card--single--pattern{
  width:calc(50% - 8px) ;
  float:left;
  margin-bottom: 20px;
}

.c-wrapper--card--single--pattern._one,
.c-wrapper--card--single--pattern._three,
.c-wrapper--card--single--pattern._five,
.c-wrapper--card--single--pattern._seven,
.c-wrapper--card--single--pattern._nine{
  margin-right:16px !important;
}

.c-wrapper--card--single--frame-type._for-margin{
  margin-bottom: 180px;
  padding: 61px 67px;/* 余白の幅*/
  box-sizing: border-box;
  background-color: black;
}



.c-wrapper--card--single--pattern-area::after{
  content: "";
  display: block;
  clear: both;
}
}

  /* PC */
@media screen and (min-width: 1250px){
/* contents */
/* lead(見出し+導入記事)---- */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 60px;/* 内側の余白 */
  padding-bottom: 60px;/* 内側の余白 */
  box-sizing: border-box;
}

/* 文字のワイヤーフレーム --------------*/
.p-contents__single__inner--top{
  margin-bottom: 60px;
}

/* lead(見出し+導入記事の内側) */
.p-contents__single__lead{/*  */
&__inner{/* 外枠 */
  max-width: 100%;
}

&__title{/* 見出し */
  display: inline-block;
  margin-bottom: 60px !important;
  font-size: 36px !important;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

&__text{/* 文章 */
  display: inline-block;
  font-size: 16px !important;
  font-weight: normal;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}

/* ------------テキスト系のブロック------------*/
/* 共通 */
.p-contents__single__text-block{
&__title{
  display: inline-block;
  color:#3C2A10;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}
}
/* 詳細 */
.__h2{
   margin-bottom: 60px;
}

.__h3{
  margin-bottom: 59px;
  font-size: 28px;
}

.__h4{
  margin-bottom: 59px;
  font-size: 20px;
}

.__h5{
  margin-bottom: 59px;
  font-size: 20px;
}

.__h6{
  margin-bottom: 60px;
  font-size: 20px;
}

/* 引用文章＋引用文 */
.p-contents__single__quote{/* 全体 */
  padding-top: 50px !important;
  padding-bottom: 50px !important;

&__inner{/* 内側*/
  max-width: 100%;
  margin-right:3.69%;
  margin-left:3.69%;
  box-sizing: border-box;
}

&__text--detail{/* 文章 */
  display: inline-block;
  font-size: 16px;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}

.p-contents__single__quote__source{/* 出典元＋リンク */
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top: 60px;
  font-size: 16px !important;
  font-family:$font-family--M-plus;
  line-height: 1.43;
}
      　　
.p-contents__single__quote__source__title{/* 出典元*/
  display: inline-block !important;
  font-size: 16px !important;
  font-weight: normal;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block !important;
  margin-left: 15px;
  font-size: 16px;
  color: #4A6C9B;
  text-decoration: underline;
}

.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 1px;
  color: #4A6C9B;

}

/* card の集まり*/
/* 余白ーーーーーーーーーーーーーーーー*/
.c-wrapper--card--single--for-pc{
  display: block !important;
}



.p-contents__single__cards{/*cardグループの外側の余白*/
  display: inline-block !important;
  max-width:100% !important;
  margin-bottom: 0!important;
  padding: 0;
  box-sizing: border-box;
}
.p-contents__single__inner--middle{/* ワイヤー*/
  height: auto;
  margin: 0px 5.2% 0 5.2%;/* 左右フレームの余白*/
  padding-bottom: 0;
  margin-bottom: 353px !important;
  background-color: blanchedalmond;
}/* 余白ここまでーーーーーーーーーーーー*/

.c-photo-frame--card--single--full{
  width: 100% !important;/* 横幅100%*/
  height: 0;
  padding-bottom:37.39%;/*アスペクト比を維持*/
}
/* 画像 */
.c-photo--single{
  width: 100%;/* 横幅100%*/
  padding-bottom:37.39%;/*アスペクト比を維持*/
}

.c-wrapper--card--single._margin-bottom--117{
  margin-bottom: 60px;
}

.c-wrapper--card--single--frame-type._for-margin{
  display: none;
}
.c-photo-frame--card--single--full--frame-type{
  display: none;
}
.c-photo--single--frame-type{
  display: none;
}




.c-wrapper--card--single--pattern{
  width:calc(33.333% - 6.66px) ;
  float:left;
  margin-bottom: 20px;
}

.c-wrapper--card--single--pattern._one,
.c-wrapper--card--single--pattern._two,
.c-wrapper--card--single--pattern._four,
.c-wrapper--card--single--pattern._five,
.c-wrapper--card--single--pattern._seven,
.c-wrapper--card--single--pattern._eight{
  margin-right:10px !important;
}
.c-wrapper--card--single--pattern._three,
.c-wrapper--card--single--pattern._nine,
.c-wrapper--card--single--pattern._six{
  margin-right: 0 !important;
}
.c-caption-group--card--single{/* 文章の外枠ーーー*/
  max-width:57.13% !important;
  min-height: 53.35%;
  padding-right:0;
  padding-left:5.18%;
  box-sizing: border-box;
}
.c-wrapper--card--single{
  margin-bottom: 60px;
}
.c-wrapper--card--single--for-pc{
  margin-bottom: 60px;
  position: relative;
}
.c-photo-frame--card--single--1-4--for-pc{

}
.c-content{
  content:"";
  position: absolute;
  max-width: 21.435%;
  height: 358px;
  background-color:chartreuse;
}

}
