/* スマホ */
/*------------- single */
/* contents */
.p-contents__single{/*contents共通部分*/
  max-width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  background-color:$color--base-WH;
  font-family: $font-family--M-plus;
  font-weight: normal;
  overflow: visible;
}

/* 文字のワイヤーフレーム --------------*/
.p-contents__single__inner--top{
  margin-right:5.33%;
  margin-bottom: 30px;
  margin-left:5.33%;
}

/* 見出し+記事---- */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 30px;/*内側の余白 */
  padding-bottom: 34px;/*内側の余白 */
  box-sizing: border-box;
}

/* 見出し+記事の内側---- */
.p-contents__single__lead{
&__inner{/* 外枠 */
  max-width:100% !important;
}

&__title{/* 見出し */
  margin-bottom: 30px;
  font-size: 28px;
  color: $color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}

&__text{/* 文章 */
  display: inline-block;
  font-size: 16px;
  color: $color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: normal;
  line-height: 1.43;
  word-wrap:break-word;
}
}

/* 各ブロックの埋め込み先共通 */
.p-contents__single__block__area{
  float: none;/* floatは解除 */
  font-family:$font-family--M-plus;
  overflow-y: hidden !important;
}

/* 見出し系のブロック*/
/* 共通 */
.p-contents__single__heading-block__title{
  display: inline-block;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}

/* 詳細 */
.__h2{
  margin-bottom: 30px;
  font-size: 28px;
}
.__h3{
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.5;
}
.__h4{
  margin-bottom: 36px;
  font-size: 20px;
  line-height: 1.5;
}
.__h5{
  margin-bottom: 29px;
  font-size: 20px;
  line-height: 1.5;
}
.__h6{
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

/* 引用文章＋引用元 */
.p-contents__single__quote{/* 全体 */
  display: inline-block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color--base-li-GY;
  font-weight: normal;
  box-sizing: border-box;

&__inner{/* 外枠 */
  display: inline-block;
  margin: 0 7.19% 0px 7.19% !important;
  box-sizing: border-box;
}
&__text{/* 詳細テキスト全体 */
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: normal;
  word-wrap:break-word;
  box-sizing: border-box;
}
&__text--detail{/* 詳細テキスト全体 */
  display: inline-block;
  font-size: 16px;
  line-height: 1.43;
}
}

/* 引用元 */
.p-contents__single__quote__source{/* 全体 */
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top:30px;
  font-size: 16px !important;
  font-family:$font-family--M-plus;
  font-weight: normal;
  line-height: 1.43;
}
　　
.p-contents__single__quote__source__title{/* 引用元 */
  display: inline-block !important;
  font-size: 16px !important;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: $color--char-DB !important;
  text-decoration: underline;
}
.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:100%;
  left:0px;
  width: 100%;
  height: 1px;
}

/*サイト中間部分のワイヤー*/
.p-contents__single__inner--middle{
  height: 100%;
  margin: 0px 5.33%  0 5.33% !important;
  padding-bottom: 0;
  margin-bottom: 117px !important;
  border: solid pink 3px;
}

/* cardーーーーーーーーーーーーーーーーーーーーーーー*/
.c-wrapper--card--single--pc-only{/* pcのみ表示するcard*/
  display: none;
}

.c-wrapper--card--single{/*（くり返しの部分より手前まで）*/
  max-width: 100%;/* card外枠 */
  margin-bottom: 30px/* 下の余白 */
}

.c-wrapper--card--single--continuous{/*(くり返しの部分）*/
  max-width: 100%;/* card外枠 */
  margin-bottom: 20px/* 下の余白 */
}

.c-wrapper--card--single--continuous:last-child{
  margin-bottom: 0 !important;/*カードの最後は下の余白無し*/
}

/* 1つ目のcardーーーーーーー*/
  .c-card--single{/* 外枠 */
    @include c-card;
}

.c-photo-frame--card--single--no-padding{/* 写真の枠*/
  display: block;
  width: 100% !important;/* 横幅100%*/
  height: 0;/* 高さは指定しない */
  padding-bottom:37.01%;/*アスペクト比を維持*/
}

.c-photo--single{/* 画像 */
  @include c-photo;
  display: block;
  width: 100%;/* 横幅100%*/
  height: 0;/* 高さは指定しない */
  padding-bottom:37.01%;/*アスペクト比を維持*/
  background-image:url(../img/cheese-burger--per_37.png);
  background-position: center;
  background-repeat:no-repeat ;
}

/* ２つ目と3つ目のカードーーーーーーー*/
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;
  flex-direction: row !important;/* 写真と文章を横に並べる*/
  max-width: 100%;
  height: 100%;
}

.c-caption-group--card--single{/* 文章の外枠ーーー*/
  position: relative;
  width:57.28% !important;
  max-height: 176px;
  min-height: 88.43%;
  padding-right:5.18%;
  padding-left:5.18%;
  box-sizing: border-box;
}

.c-detail--card--single{/* 文章の詳細部分ーーー*/
  position: relative;
  width:100% !important;
  height: 100%;
  font-size: 16px;
  line-height: 1.43;
  word-wrap:break-word;
  overflow-y: hidden;/* スマホの場合のみ*/
}

.c-photo-frame--card--single--various{/* 写真の外枠ーーー*/
  display: block !important;
  width:42.72%;
}

.p-hero__single__png--pc{
  display: none !important;
}
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
  background-image:url(../img/cheese-burger--per_62.png);
  background-position: left top;/*カンプに近い*/
  background-size: cover;
  background-repeat:no-repeat;
  vertical-align:bottom;
  box-sizing: border-box;
}
/* card 大きな枠ここまでーーーーーーー*/

/* 写真が幅100%で周りに余白付きーーーーーーー*/

.c-wrapper--card--single--type_frame{/* 余白付き*/
  padding: 30px 34px;/* 余白の幅*/
  box-sizing: border-box;
}
.c-photo-frame--card--single--type_frame{
  @include c-card;
  height: 0;
  padding-bottom:62.17%;
}
.c-photo--card--single--type_frame{
  @include c-photo;
  height: 0;
  padding-bottom:62.17%;
  background-image:url(../img/cheese-burger--per_62.png);
}

/* 写真が幅100%で周りに余白付きここまでーーーーーーー*/
/* 写真が幅100%で余白無し、最後の複数パターンーーーーーーー*/

.c-photo-frame--card--single--type_continuous{
  width:100%;
  height: 0;
  padding-bottom: 60.89%;
}
.c-photo--single--single--continuous{
  @include c-photo;
  height: 0;
  padding-bottom: 60.89%;
  background-image:url(../img/cheese-burger--per_62.png);
}
.c-wrapper--card--single--continuous-area{
  display: flex;
  flex-direction: column;
}
/* 以下、リストーーーーーーーーーーーーー*/
.p-contents__single__list-block{/**/
  display: block;
  float: none !important;
  max-width: 100%;
  min-width: 53.86%;
  min-height: 87.23%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  color:$color--char-BR;
  line-height: 1.43;
}
.p-contents__single__list--1{
  display: block;
  max-width: 100%;
  clear: both;
  float: none;
  margin-left: 0;
  margin-bottom: 20px;
}
.p-contents__single__list--2{
  display: block;
  float: none;
  clear:both;
  margin-left: 18px;
  margin-bottom: 20px;
}
.p-contents__single__list--1.hp_mb60{
  margin-bottom: 60px;
}
/* 以下、コードーーーーーーーーーーーーー*/
.p-contents__single__code-block__inner{
  background-color: $color--base-li-GY;
}
.p-contents__single__code{
  display: inline-block;
  width: 67.55%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 49px;
  margin-right: 60p;
}
.p-contents__single__code__detail{
  font-size: 16px;
  color: $color--item-BK-tea;
  line-height: 1.43;
  font-family:$font-family--M-plus;
  font-weight:normal
}

/* 以下、テーブルーーーーーーーーーーーーー*/
.p-contents__single__table-block{
  width: 100%;
  margin-top: 30px;
  background-color: $color--char-WH;
}
.p-contents__single__table{
  border-collapse: collapse !important;
  width: 100% !important;
}

th{
  border-collapse: collapse;
  width:40.29%;
  height: 77px;
  text-align: left;
  padding: 28px 0px 27px 30px !important;
  border: solid 1px $color--char-GY;
  box-sizing: border-box;
}
  td{
  border-collapse: collapse;
  width:59.11%;
  height: 77px;
  padding: 28px 12.6px 27px 30px!important;
  border: solid 1px $color--char-GY;
  box-sizing: border-box;
}

/* 以下、buttonーーーーーーーーーーーー*/
.p-contents__single__button-block__inner{
  margin-top: 29px;
}

.p-contents__single__button-block{
  position: relative;
  display: block !important;
  width: 100;
  height: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.43;
  padding-bottom: 24.17%;
  background-color: $color--base-li-dark-OR;
  border: solid 1px $color--char-GY;
  border-radius: 22px;
  margin-bottom: 30px;
}
.p-contents__single__button-block__supplement{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.43;
  color:$color--char-BR;
}


  /* タブレット */
@media screen and (min-width: 600px){
/*------------- single */
/* contents */
.p-contents__single{
  display: block;
  max-width: 100% !important;
}

/* サイト上部のワイヤーフレーム --------------*/
.p-contents__single__inner--top{
  margin-right:7.19%;
  margin-left:7.19%;
  margin-bottom: 60px;
}

/* 見出し+記事---- */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 50px;/* 内側の上余白 */
  padding-bottom: 60px;/* 内側の下余白 */
  box-sizing: border-box;
}

/* 見出し+リード記事の内側---- */
.p-contents__single__lead{/* introduction(導入記事) */
  &__inner{/* 外枠 */
  max-width: 100%;
  }

  &__title{/* 見出し */
    display: inline-block;
    margin-bottom: 60px !important;
    font-size: 36px !important;
    font-weight: bold;
    font-family:$font-family--M-plus;
    line-height: 1.5;
  }

  &__text{/* 文章 */
    display: inline-block;
    font-size: 16px !important;
    font-weight: normal;
    color:$color--char-BR;
    font-family:$font-family--M-plus;
    line-height: 1.43;
    word-wrap:break-word;
  }
  }

/* ------------見出し（h2〜h6）系のブロック------------*/
/* 共通 */
.p-contents__single__heading-block{
&__title{
  display: inline-block;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}
}

/* 各詳細 */
.title_h2{
  margin-bottom: 60px;
}

.title_h3{
  margin-bottom: 59px;
  font-size: 28px;
}

.title_h4{
  margin-bottom: 75px;
  font-size: 20px;
}

.title_h5{
  margin-bottom: 59px;
  font-size: 20px;
}

.title_h6{
  margin-bottom: 60px;
  font-size: 20px;
}

/* 引用文章＋引用元 */
.p-contents__single__quote{/* 全体 */
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: $color--base-li-GY;
  font-weight: normal;
}

.p-contents__single__quote__source{/* 引用元全体 */
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top: 60px;/* 引用文との距離 */
  font-size: 16px !important;
  line-height: 1.43;
}
      　　
.p-contents__single__quote__source__title{/* 出典元*/
  display: inline-block !important;
  font-size: 16px !important;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block !important;
  margin-left: 15px;
  font-size: 16px;
  color: $color--char-DB;
  text-decoration: underline;
}

.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 1px;
  color: $color--char-DB;
}

.p-contents__single__quote{/* 引用記事*/
&__inner{/* 外枠 */
  max-width: 100%;
  margin: 0 7.19% 0 7.19% !important;
  box-sizing: border-box;
}

&__text--detail{/* 文章 */
  display: inline-block;
  font-size: 1.91vw;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}

.p-contents__single__inner--middle{/* 中間部分のワイヤー*/
  height: 100%;
  margin: 0px 7.19%  0 7.19% !important;/* 左右フレームの余白*/
  padding-bottom: 0;
  margin-bottom: 228px !important;
  border: solid pink 3px;
}
/* ２つ目と3つ目のカードーーーーーーー*/
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;/* 写真と文章を横並びに */
  flex-direction: row !important;
  max-width: 100%;
  height: auto;
  overflow-y: hidden;
}

.c-caption-group--card--single{/* 文章の外枠ーーー*/
  position: relative;
  width:57.28% !important;
  min-height: 88.43%;
  padding-right:5.18%;
  padding-left:5.18%;
  padding-bottom: 6%;
  box-sizing: border-box;
}
.c-detail--card--single{/* 文章の詳細ーーー*/
  position: relative;
  top:0;
  left: 0;
  width:100% !important;
  height: auto;
  font-size: 1.91vw;
  line-height: 1.43;
  word-wrap:break-word;
}

.c-photo-frame--card--single--various{/*写真の外枠*/
  display: block !important;
  max-width:42.85%;
  height: 0;
  padding-bottom:61.8%;/*アスペクト比を維持*/
}

.p-hero__single__png--pc{
  display: none !important;
}
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
}

/*pcのみで表示するcard*/
.c-wrapper--card--single--pc-only{
  display: none;/*隠す*/
}

/*cardの上下の余白*/
.c-wrapper--card--single{
  max-width: 100%;
  margin-bottom: 0px
}
.c-wrapper--card--single--continuous{
  max-width: 100%;
  margin-bottom: 20px
}
.c-wrapper--card--single--continuous:last-child{
  margin-bottom: 0 !important;/*縦並びの最後のカードは下の余白は無し*/
}
.c-wrapper--card--single.hp_mb60{
  margin-bottom: 60px;
}

.c-wrapper--card--single.hp_mb117{
  margin-bottom: 117px;
}

/*同じcardをくり返す部分*/
.c-wrapper--card--single--continuous-area{
  display: block !important;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

.c-wrapper--card--single--continuous{
  width:48.87%;
  float:left;
  margin-bottom: 20px;
}

.c-wrapper--card--single--continuous.no_one,
.c-wrapper--card--single--continuous.no_three,
.c-wrapper--card--single--continuous.no_five,
.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_nine{
  margin-right:2.24% !important;
}

.c-wrapper--card--single--type_frame.hp_mb180{
  margin-bottom: 180px;
  padding: 61px 67px;/* 余白の幅*/
  box-sizing: border-box;
}

/*最後に疑似要素でfloatを解除*/
.c-wrapper--card--single--continuous-area::after{
  content: "";
  display: block;
  clear: both;
}

/*リストの部分*/
.p-contents__single__list-block{/**/
  display: block;
  float: none !important;
  max-width: 100%;
  min-width: 28.15%;
  min-height: 77.35%;
  margin-top: 62px 0 60px 50px;
}

/*コードの部分*/
.p-contents__single__code{
  display: inline-block;
  width: 83.3%;
}

/*テーブルの部分*/
.p-contents__single__table-block{/*埋め込み先*/
  width: 100%;
  margin-top: 30px;
  background-color: $color--char-WH;
}

.p-contents__single__table{/*本体*/
  border-collapse: collapse !important;
  width: 100% !important;
}

th{
  border-collapse: collapse;/*題*/
  width:30.11%;
  padding: 28px 0px  27px 30px!important;/*インデントの部分*/
}
  td{
  border-collapse: collapse;/*データ*/
  width:69.88%;
  padding: 28px 0px 27px 30px!important;/*インデントの部分*/
}

/*buttonの部分*/
.p-contents__single__button-block__inner{/*埋め込み先*/
  margin-top: 60px;
}

.p-contents__single__button-block{/*本体*/
  position: relative;
  display: block !important;
  padding-bottom: 0;
  width: 60.08% !important;
  height: 104px;
  margin-bottom: 60px;
}

/* hero ファイルを分けると表示されない為本ファイルへ記載*/
.p-hero__single{/*heroの外枠 */
  display: block !important;
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 59.95% !important;
}

.p-hero__single__png--pc{/* pc用の画像 */
  display: block !important;
  position: absolute !important;
  top:0;
  left: 0;
  z-index: 110;
  width: 100% !important;
  padding-bottom: 59.95% !important;/* アスペクト比を保つ */
  height: 0;/* 高さは設定しない */
  background-image:url(../img/hero__single--pc.png);
  background-position: center;/* centerがカンプに近い */
  background-size: cover !important;
  background-repeat:no-repeat;
  vertical-align:bottom;
}

.p-hero__single__menu-label{/*h1 チーズバーガ―:画像に重なる字*/
  display: inline-block;
  position: absolute;
  z-index: 140;
  top:36.04%;
  left:10.31%;
  font-size:7.19vw;
  line-height:1.31;
}
/*------------- heroここまで */
}

  /* PC */
@media screen and (min-width: 1250px){
/* contents */


/* title+記事 */
.p-contents__single__lead__area{/* leadの埋め込み先 */
  max-width:100% !important;
  padding-top: 60px;/* 内側の余白 */
  padding-bottom: 60px;/* 内側の余白 */
  box-sizing: border-box;
}

/* サイト上部のワイヤー*/
.p-contents__single__inner--top{
  margin-bottom: 60px;
}

/* 見出し+記事の内側---- */
.p-contents__single__lead{/*  */
&__inner{/* 枠 */
  max-width: 100%;
}

&__title{/* 見出し */
  display: inline-block;
  margin-bottom: 60px !important;
  font-size: 36px !important;
  font-weight: bold;
  font-family:$font-family--M-plus;
  line-height: 1.5;
}

&__text{/* 文章 */
  display: inline-block;
  font-size: 16px !important;
  font-weight: normal;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}

/* 見出しのブロック*/
/* 共通 */
.p-contents__single__heading-block{
&__title{
  display: inline-block;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  font-weight: bold;
  line-height: 1.5;
}
}
/* 詳細 */
.title_h2{
   margin-bottom: 60px;
}

.title_h3{
  margin-bottom: 59px;
  font-size: 28px;
}

.title_h4{
  margin-bottom: 59px;
  font-size: 20px;
}

.title_h5{
  margin-bottom: 59px;
  font-size: 20px;
}

.title_h6{
  margin-bottom: 60px;
  font-size: 20px;
}

/* 引用文章＋引用元 */
.p-contents__single__quote{/* 全体 */
  padding-top: 50px !important;
  padding-bottom: 50px !important;

&__inner{/* 内側*/
  max-width: 100%;
  margin-right:3.69%;
  margin-left:3.69%;
  box-sizing: border-box;
}

&__text--detail{/* 文章 */
  display: inline-block;
  font-size: 16px;
  color:$color--char-BR;
  font-family:$font-family--M-plus;
  line-height: 1.43;
  word-wrap:break-word;
}
}
/* 引用文＋引用元 */
.p-contents__single__quote__source{/* 全体 */
  display: flex;/* 出典元とリンクを横に並べる*/
  flex-direction: row !important;
  margin-top: 60px;
  font-size: 16px !important;
  font-family:$font-family--M-plus;
  line-height: 1.43;
}
      　　
.p-contents__single__quote__source__title{/*引用元*/
  display: inline-block !important;
  font-size: 16px !important;
  font-weight: normal;
  color:$color--char-BR;
  line-height: 1.43;
}

.p-contents__single__quote__source__link{/*リンク*/
  position: relative;
  display: inline-block !important;
  margin-left: 15px;
  font-size: 16px;
  color: $color--char-DB;
  text-decoration: underline;/* 下線をひく */
}

.p-contents__single__quote__source__link::after{/*下線（リンク）*/
  display: inline-block !important;
  content: "";
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 1px;
  color: $color--char-DB;/* 青色 */
}

/* card-------------- */
/* pcの場合のみ表示するcard*/
.c-wrapper--card--single--pc-only{
  display: block!important;/* 表示する */
}

.c-card--single--special.pc-only{
display: flex;/* 真ん中に配置 */
justify-content: center;
}
/* pcの場合のみ表示するcardここまで-------*/


/*card全体------------------------------*/
.p-contents__single__cards{/*外枠*/
  display: inline-block !important;
  max-width:100% !important;
  margin-bottom: 0!important;
  padding: 0;
  box-sizing: border-box;
}
/*1番目のcard*/
.c-photo-frame--card--single--no-padding{
  width: 100% !important;/* 横幅100%*/
  height: 0;
  padding-bottom:37.39%;/*アスペクト比を維持*/
}

.c-photo--single{/* 画像 */
  width: 100%;/* 横幅100%*/
  padding-bottom:37.39%;/*アスペクト比を維持*/
}
/*2番目のcard*/
.c-wrapper--card--single.hp_mb117{
  margin-bottom: 60px;
}

.c-wrapper--card--single--type_frame.hp_mb60{
  display: none;
}
.c-photo-frame--card--single--type_frame{
  display: none;
}
.c-photo--card--single--type_frame{
  display: none;
}
/* 連続したパターンのカードの部分 ーーーー */
.c-wrapper--card--single--continuous-area{
  display: block;
}

.c-photo-frame--card--single--type_continuous{
  max-width:100%;
  height: 0;
  padding-bottom: 58.67%;
}
.c-photo--single--single--continuous{
  @include c-photo;
  height: 0;
  padding-bottom: 58.67%;
  background-image:url(../img/cheese-burger--per_62.png);
}

.c-wrapper--card--single--continuous{
  max-width:32.3% ;
  float:left;
  margin-bottom:1.47%
}

.c-wrapper--card--single--continuous.no_one,
.c-wrapper--card--single--continuous.no_two,
.c-wrapper--card--single--continuous.no_four,
.c-wrapper--card--single--continuous.no_five,
.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_eight{
  margin-right:1.47% !important;
}

.c-wrapper--card--single--continuous.no_three,
.c-wrapper--card--single--continuous.no_nine,
.c-wrapper--card--single--continuous.no_six{
  margin-right: 0 !important;
}

.c-wrapper--card--single--continuous.no_seven,
.c-wrapper--card--single--continuous.no_eight,
.c-wrapper--card--single--continuous.no_nine{
  margin-bottom: 0 !important;/*7/8/9番目のcardは下の余白無し*/
}
/* 連続したパターンのカードの部分ここまで ーーーー */


/* 2番目・3番目のcardーーーーーーーーーー*/
.c-card--single--special{/* 外枠 */
  @include c-card;
  display: flex;
  flex-direction: row !important;
  max-width: 100%;
  height: auto;
  overflow-y:visible;
}

.c-caption-group--card--single{/* 文章の外枠ーーー*/
  position: relative;
  max-width:57.13% !important;
  min-height: 53.35%;
  padding-right:0;
  padding-left:5.18%;
  padding-bottom: 6%;
  box-sizing: border-box;
}
.c-caption-group--card--single.pc-only{/* 文章の外枠ーーー*/
  padding-right:5.18%;
  padding-left:0;
}

.c-detail--card--single{/* 文章の詳細ーーー*/
  position: relative;
  top:0;
  left: 0;
  width:100% !important;
  height: auto;
  font-size: 0.83vw;
  line-height: 1.43;
  word-wrap:break-word;
}

.c-photo-frame--card--single--various{/* 写真の外枠ーーー*/
  display: block !important;
  max-width:42.85%;
  height: auto;
  padding-bottom: 0;
}

.p-hero__single__png--pc{
  display: none !important;
}
.c-photo--card--single--various{/*画像*/
  display: block !important;
  height: 0;/*高さは設定しない*/
  padding-bottom:61.8%;/*アスペクト比を維持*/
}
/* 2番目・3番目のcard ここまでーーーーーーー*/


/* 余白の調整ーーーーーーー*/
.c-wrapper--card--single{
  margin-bottom: 60px;
}
.c-wrapper--card--single--pc-only{
  margin-bottom: 60px;
  position: relative;
}




/* リスト*/
.p-contents__single__list-block{/**/
  display: block;
  float: none !important;
  max-width: 100%;
  min-width: 14.91%;
  min-height: 77.35%;
}

/* コードーーーーーーーーーーーーー*/

.p-contents__single__code{
  display: inline-block;
  width: 91.86%;
}

/*テーブルーーーーーーーーーーーーー*/
.p-contents__single__table-block{
  width: 100%;
  margin-top: 50px;
}

th{
  border-collapse: collapse;
  width:31.7%;
  padding: 28px 0px  27px 30px!important;
}
  td{
  border-collapse: collapse;
  width:68.66%;
  padding: 28px 0px 27px 30px!important;
}

/* ボタンーーーーーーーーーーーー*/
.p-contents__single__button-block__inner{
  margin-top: 60px;
}

.p-contents__single__button-block{
  position: relative;
  display: block !important;
  padding-bottom: 0;
  width: 429px !important;
  height: 104px;
  margin-bottom: 60px;
}

/*------------- hero */
.p-hero__single{
  display: block !important;
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 32.19% !important;
  background-color: $color--mask-op-100;
}

.p-hero__single__png--pc{/* pc用の画像 */
  display: block !important;/* 表示する */
  position: absolute;
  top:0;
  left: 0;
  z-index: 110;
  width: 100% !important;
  padding-bottom: 32.19% !important;/* アスペクト比を保つ */
  height: 0;/* 高さは設定しない */
  background-image:url(../img/hero__single--pc.png);
  background-position: top right !important;
  background-size: cover !important;
  background-repeat:no-repeat;
  vertical-align:bottom;
}

.p-hero__single__menu-label{/*h1 チーズバーガ―:画像に重なる字*/
  display: inline-block !important;
  position: absolute;
  z-index: 140;
  top:33.47%;
  left:5.53%;
  font-size:3.12vw;
  color:$color--char-WH;
  font-weight: bold;
  line-height:1.31;
}
}
