/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-body{
display:grid;
grid-template-columns: 1fr;
grid-template-rows: auto 1fr 150px;
max-width: 100%;
min-height: 100vh;
overflow-x: hidden;
}
/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px){
  .l-body{
  display:grid;
  grid-template-columns:auto 19.11% !important;
  grid-template-rows:auto 1fr 150px !important;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  }
  }
