/*スマホ--タブレット--パソコン画面1249pxまで--*/
.l-header{
  /*Grid*/
  grid-column: 1 / -1;
  grid-row: 1 ;
  /*その他*/
  position: relative;
  max-width: 100%;
}
/*パソコン画面1250px以上--*/
@media screen and (min-width: 1250px){
.l-header{
  /*Grid*/
  grid-column: 1 / -2;
  grid-row: 1 ;
  /*その他*/
  max-width: 100%;
}
}
