/* スマートフォン */
.l-sidebar{
  grid-template-columns: none;
  grid-template-rows: none;
}

@media screen and (min-width: 1250px){
  .l-sidebar{
    grid-column: 2 / -1 ;/*隠さず一番右端に表示*/
    grid-row   : 1/  -2 ;
}
}
