/*スマホ----*/
.c-header__logo{/*Hamburgerのロゴ*/
  @include logo;
  max-width:54.13%;
  margin: 5px auto 38px auto;/*38px：検索BOXまでの距離*/
  font-size: 10.66vw;
  line-height: 1.32;
}

.c-header__menu-btn{/*headerのMENUボタン*/
  @include logo;
  position: absolute;
  z-index: 50;
  top:14px;
  right: 16px;/*headerの右上に配置*/
  font-size: 5.33vw;/*20px（カンプ）*/
  line-height:1.3;

  &__label:after{
  font-size: 5.33vw;/*20px（カンプ）*/
  line-height:1.3;
}
}

/*タブレット*/
@media screen and (min-width: 600px){/*js-Hamburgerのロゴ*/
  .c-header__logo{
  font-size: 4.8vw;
  max-width: 24.34%;
}
}
/* PC */
@media screen and (min-width: 1250px){/*Hamburgerのロゴ*/
  .c-header__logo{
  max-width: 20.92%;
  margin-left: 4% !important;
  font-size: 4.12vw;
  line-height:1.31;
  }
  .c-header__menu-btn{/*headerのMENUボタン*/
    display: none !important;/*PCの時は隠す*/
  }
  }
