.p-header{
  height:217px;
  padding-top: 40px;/*paddingで画面縮小しても高さが潰れないように*/
  padding-bottom: 40px;/*paddingで画面縮小しても高さが潰れないように*/
  background-color: $color--base-li-OR;
  box-sizing: border-box;
  overflow: hidden;

&__wrapper{
  display: flex;
  flex-direction: column;/*Hamburgerと検索BOXを縦並びに*/
  justify-content:space-between;
  align-items: center;
  height: 100%;
}
}
@media screen and (min-width: 1250px){
.p-header{
  height:217px;
  padding-top: 68px ;/*paddingで画面縮小しても高さが潰れないように*/
  padding-bottom:68px;/*paddingで画面縮小しても高さが潰れないように*/

&__wrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  height:100%;
}
}
}
