/* スマホ */
/* hero */
.p-hero{
position: relative;
z-index: 100;
max-width: 100%;
height:0;
padding-bottom: 75%;

&__png--pc{
display: none !important;
}

&__png--sp{/* スマホ版の画像 */
display: block !important;;
position: relative;
top:0;
left:0;
width:100%;
height:0;
padding-bottom: 75%;
background-image:url(../img/hero_sp.png);
background-position: center;
background-size: cover;
background-repeat:no-repeat;
}

&__label{/* ダミーサイトの文字 */
display: inline-block;
position: absolute;
z-index: 100;
top:43%;
left: 7%;/*25px*/
height: auto;
font-family: $font-family--M-plus;
font-size: 9.6vw;/*36px*/
font-weight: bold;
line-height:60 / 40;
color:  $color--char-WH;
}
}

@media screen and (min-width: 600px){
.p-hero{
position: relative;
z-index: 100;
max-width: 100%;
height:0;
padding-bottom: 32.85%;

&__png--sp{
display: none !important;/*スマホの画像は隠す*/
}

&__png--pc{
display: block !important;/*PCの画像を表示*/
position: relative;
top:0;
left:0;
width: 100%;
height: 0;
padding-bottom: 32.85%;
background-image: url(../img/hero_pc.png);
background-position: center;
background-size: cover;
background-repeat:no-repeat;
}

&__label{/* ダミーサイトの文字 */
display: block;
position: absolute;
z-index: 100;
top:40%;
left: 10%;/*86px*/
z-index: 110;
font-size: 4.31vw;
font-weight: bold;
line-height:54 / 36;
}
}
}

@media screen and (min-width: 1250px){
.p-hero{
max-width: 100%;
height:0;
padding-bottom: 33.93%;

&__png--pc{
width: 100%;
height: 0;
padding-bottom: 33.93%;
}

&__label{/* ダミーサイトの文字 */
top:44%;
left: 16%;/*86px*/
font-size: 2.08vw;
font-weight: bold;
line-height:60 / 40;
}
}
}
